<link rel="stylesheet" href="{{ STATIC_URL }}hazard_calculator/lib/jquery-ui-1.11.0/jquery-ui.min.css">

<script type="text/javascript" src="{{ STATIC_URL }}hazard_calculator/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hazard_calculator/lib/jquery-ui-1.11.0/external/jquery/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hazard_calculator/lib/jquery-ui-1.11.0/jquery-ui.min.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}hazard_calculator/js/hazard_calculator.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}hazard_calculator/css/hazard_calculator.css">

{% block content %}
<div id="content-main">

	<form action="" method="POST">
	{{ management_form }}
	{% csrf_token %}
	
	<table id="formula-rows" width="100%">
		<tr>
			<th>CAS Number</th>
			<th>Weight</th>
			<th>Delete</th>
		</tr>

		{% for form in formset %}
		{% if form.errors %}
		<tr>
			<td class="highlight" colspan="4"><b>	 Please correct the error(s) in the following row. {{form.non_field_errors}}</b></td>
		</tr>
		{% endif %}
		<tr class="formula_row">	
			<td class="number-cell">{{ form.cas }}{{ form.cas.errors }}</td>
			<td class="amount-cell">{{ form.weight }}{{ form.weight.errors }}</td>
			<td class="del-row" ><input type="button" value="X" onclick="FORMULA_EDIT.delete_row(this.parentNode.parentNode.rowIndex)"></td>
		</tr>
		{% endfor %}
	</table>
	<input id="add-formula-row-button" type="submit" value="Add row" />
	<input id="formula-submit-button" type="submit" value="Submit Formula" />		
	</form>
</div>

{% endblock %}